footer {
    width: 100%;
    max-width: 500px;
    margin: 24px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

footer > a {
    font-size: 12px;
    line-height: 1.3;
    color: #888;
}

footer > a:hover {
    text-decoration: underline;
    color: #000;
}

footer > small {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    color: #bbb;
}